<p id="notice"><%= notice %></p>

<h1>Evénements</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Date</th>
      <th>Lieu</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.place %></td>
        <td><%= event.price %></td>
        <td><%= link_to 'Plus d\'infos', event %></td>

        <% if event.creator == current_user %>
        <td><%= link_to 'Editer', edit_event_path(event) %></td>
        <td><%= link_to 'Supprimer', event, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <center><%= button_to 'Créer un nouvel événement', new_event_path, class: "btn btn-primary", method: :get %></center>
</div>
</div>
</div>
<% end %>
