<div class="row text-center">

  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <table class="table table-striped">
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Date</th>
        <th>Lieu</th>
      </tr>

      <tr>
        <td><%= @event.name %></td>
        <td><%= @event.description %></td>
        <td><%= @event.date %></td>
        <td><%= @event.place %></td>
      </tr>

    </table>


    <%= link_to 'Editer', edit_event_path(@event) %> |
    <%= link_to 'Retour', events_path %>
  </div>

</div>
